$fa-font-path:"../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome";
@import "../node_modules/normalize.css/normalize.css";

body{
	font-family: 'Roboto', sans-serif;
}
a{
	text-decoration: none;
	color: inherit;
}
.jumbotron{
	position: relative;
	color: #fff;
}
.jumbotron::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../img/mac.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100%;
	filter: blur(1px) grayscale(40%);
}
.jumbotron-content{
	position: relative;
    display: flex;
    flex-direction: column;
    height: 95vh;
    padding: 0 5vw;
    justify-content: space-between;
}
.jumbotron-header{
	display: flex;
    justify-content: space-between;
}
.jumbotron-main{
	text-align: center;
	font-size: 1.5em;
}
.jumbotron-footer{
	width: 300px;
	margin: 0 auto;
	display: flex;
    font-size: 2.5em;
    justify-content: space-between;
}
.menu{
	display: flex;
}
.menu-wrapper{
	margin-top: 0.83em;
}
.menu__item{
	list-style-type: none;
    width: 80px;
}
.about{
	margin-top: 10vh;
	padding: 0 5vw;
}
.title{
	text-align: center;
	font-size: 2em;
	margin: 7vh 0;
}
.challenge{
	background-color: #e8f5eb;
	padding: 10vh 5vw;
}
.card{
	background-color: #fff;
	color: #223b25;
	text-transform: small-caps;
	padding: 3em;
	width: 70vw;
	margin: 0 auto;
	font-weight: bold;
    font-size: .9em;
}
.card-grid{
	display: grid;
	grid-auto-flow: column;
}
.card-buttons{
	grid-row: 1;
	padding-left: 5vw;
}
.card-toggle{
	grid-row: 2;
	grid-column: 1;
	margin-top: 5vh;
}
.card-aside{
	display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    height: 180px;
}
.card-img{
	border-radius: 50%;
	max-width: 150px;
	display: block;
    margin: 0 auto;
}
.card-link{
	text-align: center
}
.card-github{
	padding: 0;
}
.card-github li{
	list-style-type: none; 
}
.button{
	background: transparent;
	border: 1px solid #89da30;
	color: #89da30;
	padding: .5em 1em;
	border-radius: 3px;
	outline: none;
	cursor: pointer;
}
.button:hover,
.button:focus{
	background: #89da30;
	color: #fff;
}
.table{
	width: 100%;
}
.striped tr:nth-child(odd){
	background: #fff;
}
.striped tr:nth-child(even){
	background: #e8f5eb;
}
.footer{
	color: #fff;
	background: #303030;
	padding: 1em 5vw;
	text-align: center;
}

@media screen and (max-width:700px){
	.card-aside{
		grid-row: 1;
	}
	.card-buttons{
		grid-row: 2;
	}
	.card-toggle{
		grid-row: 3;
	}
}